/* @media all and (max-width:1094px) {
    .banner {
        background-size: contain;
        height: auto;
    }
} */

/* Responsive */
@media all and (max-width:1367px) {
    .blogItem {
        text-align: justify;
    }
}
@media all and (max-width:1000px) {
    body{
        overflow-x: hidden;
    }
    .fixtWidth {
        width: 100%;
        max-width: 100%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box; 
    }
    .herder {
        background: #9b59b6;
        padding: 10px 0;
    }
    .headerRight ul li a {
        border-right: none;
        line-height: 52px;
    }
  
    
}

/* Responsive */
@media (max-width:899px) {
    .headerRight {
        width: 100%;
        text-align: center;
    }
    .headerLeft {
        width: 100%;
        text-align: center;
    }
    .headerRight ul {
        text-align: center;
    }
    .banner {
        padding: 150px 0;
    }
    .blogItem {
        text-align: justify;
    }
}

/* Responsive */
@media (max-width:768px) {
    .servicesItem {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .blogLeftContent {
        width: 100%;
        text-align: justify;
    }
    .blogNotice {
        width: 100%;
    }
    .blogNotice ul li {
        padding: 12px;
        border-radius: 5px;
        margin-bottom: 7px;
    }
    .footerLeft {
        width: 100%;
        text-align: center;
        margin-bottom: 12px;
    }
    .footerRight {
        width: 100%;
    }
    .textRight {
        text-align: center;
    }
}

/* Responsive */
@media (max-width:728px) {
    .about p {
        max-width: 100%;
    }

}

/* Responsive */
@media (max-width: 629px) {
    .headerRight ul li a {
        padding: 0px 17px;
        border-right: none;
        line-height: 35px;
    }
    .banner {
        padding: 120px 0;
    }
    .service {
        padding: 20px;
    }
    .servicesItem {
        width: 100%;
        padding: 25px 10px;
        margin-bottom: 10px;
        margin-top: 10px;
       
    }
    .blogLeftContent {
        float: left;
        width: 100%;
    }
    .blogNotice {
        float: right;
        width: 100%;
    }
    .blogItem {
        text-align: justify;
    }
}

/* Responsive */
@media (max-width: 620px) {
    .herder {
        height: 100%;
    }
 }

 /* Responsive */
 @media (max-width:576px) {
    .banner {
        padding: 100px 0;
    }
 }


 /* Responsive */
@media (max-width: 476px) {
    .banner {
        padding: 88px 0;
    }
    .bannerCaption h2 {
        padding: 4px 20px;
        font-size: 22px;
    }
    .bannerCaption h1 {
        font-size: 25px;
        padding: 4px -1px;
    }
}

